:root {
  --primary-color: #1856C3;
  --primary-color-dark: #092C4C;
  --primary-color-darker: #021b31;
  --success-color: #27AE60;
  --error-color: #F84343;
  --text-color: black;
  --text-color-inverted: white;
  --background-color: #f0f0f0;
  --other-color: #F2E2A8;
  --other-second-color: #5392FF;
  --other-third-color: #136700;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

#app{
  min-height: 100vh;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}